<!DOCTYPE html>

<html>
  <head>
    <title>Exercise Tracker for freeCodeCamp - by JulianNF</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/9f40c7de-e5d7-4b3a-8cfc-d9d70d1cf8f3%2Favatar-icon.jpg?1552991262774">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/style.css" rel="stylesheet" type="text/css">    
  </head>
  
  <body>
    <div class="container">
      <div class="fourohfour">
      <h1>404</h1>
        <p>
          Looks like this page doesn't exist. Sorry about that.
        </p>
        <p>
          Let's <a href="/" title="">go back to the home page</a>.
        </p>
      </div>
    </div>
    
    <footer>
      designed and coded by <a href="http://www.joolian.com" target="_blank">Julian NF</a> for freeCodeCamp's 
      <a href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/exercise-tracker/" 
         target="_blank" title="Visit the project page">Apis and Microservices - Exercise Tracker Project</a> 
      and built upon freeCodeCamp's <a href="https://github.com/freeCodeCamp/boilerplate-project-exercisetracker/" target="_blank" title="Project boilerplate on GitHub">
      project-specific boilerplate code</a> using JavaScript, <a href="https://nodejs.org/" title="Learn more about Node.js">Node.js</a>, 
      <a href="https://expressjs.com/" target="_blank" title="Learn more about Express.js">Express.js</a>, 
      <a href="https://www.mongodb.com/" target="_blank" title="Learn more about MongoDB">Mongo DB</a>, 
      <a href="https://mongoosejs.com/" target="_blank" title="Learn more about Mongoose.js">Mongoose.js</a>, and CSS.
    </footer>
    
  </body>  
</html>

